@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    background-color: #412567;
}
/* shard design */
nav{
    max-width: 1600px;
}

.max-v{
    max-width: 1600px;
}

.container{
    display: flex;
    
}
.text-color{
    color: #FFFFFF;
}
.text-colors{
    color: #00FF88;
}
.btn{
    display: inline-flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
     background: linear-gradient(24deg, #F7E93F, #FB09B4, #9100F8);
    padding: 10px 18px;
    border-radius: 20px;
    cursor: pointer;
    gap: 10px;

}
.btn-m{
     display: inline-flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid #00FF88;
    padding: 8px 18px;
    border-radius: 20px;
    color: #00ff88;
    cursor: pointer;
    gap: 10px;
}

/* navbar design */
.navbar-container{
    justify-content:space-around;
    align-items: center;
}
.logo{
    font-size: 4rem;
    padding: 20px;
    font-weight: bold;
}
.wave{
    background: linear-gradient(4deg, #ff2db2, #8a2be2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar-menu{
    display: flex;
    gap: 32px;
    line-height: 120%;
    font-size: 1rem;
}

/* banner design */

.banner{
    background-image: url(../assets/hero-bg.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    /* height: 100vh; */
    height: 760px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    overflow: hidden;
}
.banner-container{
    position: relative;
    padding-bottom: 60px;
}


.banner-bg-image{
    width: 360px;
    height: 350px;
    top: -13px;
   
}
.banner-font-image{
    position: absolute;
    width: 116px;
    height: 175px;
    top: 87px;
    left: 119px;
    
}
.new-badge{
    position: absolute;
    background-color: #00FF88;
    right: 13px;
    top: 50px;
    color: black;
    font-size: 10px;
    padding: 4px 10px;
    border-radius: 10px;
    font-weight: bold;
}
.title{
    font-size: 3.7rem;
    font-weight: 600;
}
.buttons{
    display: flex;
    gap: 20px;
    justify-items: center;
}

.subtitle{
    font-size: 1rem;
    margin-top: 8px;
    margin-bottom: 24px;
}


#about, #TechWave{
    max-width: 1600px;
}
.about-container{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    /* border: 2px solid aqua; */
}
.about-container-title{
    font-size: 3rem;
    font-weight: bold;
}
.about-container-subtitle{
    font-size: 1rem;
    line-height: 30px;
    margin-bottom: 160px;

}
.box-container{
    width: 1200px;
    /* border: 2px solid aqua; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 120px;

}
.box-item>h1{
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
}


.techwave, 
.featured-container
{
    width: 1200px;
    margin: 0 auto;
     /* border: 2px solid aqua; */
}

.TechWave-container{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
}
.TechWave-box{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    
}

.card {
  background: #2a0d45;
  border-radius: 16px;
  padding: 25px;
}
.card h1 {
  margin: 15px 0 10px;
  font-size: 1rem;
}
.card p {
  font-size: 0.9rem;
  color: #ccc;
  line-height: 1.6;
}
.card.tall {
  grid-row: span 2;
}
.card.wide {
  grid-column: span 2;
}

.featured-container{
    margin-top: 50px;
}
.card-frim iframe{
    border-radius: 8px;
}
.featured-container-h1{
    margin-bottom: 40px;
    
}

.featured-container-vi{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
    /* margin-left: 15px; */
    gap: 10px;
}
.card-frim{
    border-radius: 8px;
    gap: 10px;
    background: #2b0f4a;
    border-radius: 14px;
    padding: 5px;
    display: grid;

}
.host-container{
    max-width: 1200px;
    margin-top: 120px;
    /* border: 2px solid aqua; */
}
.host-host{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 25px;
  background: #2b0f4a;
  padding: 30px;
  border-radius: 18px;
  align-items: center;
  margin-top: 40px;

}

.host-host img {
  width: 200px;
  height: 200px;
  margin-top: -40px;

}
.host-info h3 {
  font-size: 2rem;
  margin-top: 40px;
  margin-bottom: 10px;
  color: #FFFFFF;
}
.host-info p {
  font-size: 0.95rem;
  color: #FFFFFF;
  margin-bottom: 16px;
  opacity: 0.5;

}


.socials {
  display: flex;
  gap: 12px;
}
.socials img{
    width: 50px;
    height: 50px;
    border: 2px solid #FB09B4;
    border-radius: 50%;
    padding: 5px;
    margin-top: 20px;
}
.footer{
    max-width: 1600px;
    background-image: url(../assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: auto;
    height: 450px;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    margin-top: 100px;
}

.footer-container{
    max-width: 1360px;
    margin-top: -64px;
    text-align: center;

}

.footer-socials{
    display: inline-flex;
    align-items: center;
    margin-top: 35px;
    gap: 20px;
}

.socials-link{
     display: inline-flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 18px;
    gap: 10px;
    color: #FFFFFF;
    opacity: 0.5;
}
.footer-socials img{
    width: 20px;
    height: 20px;
    align-items: center;
}

 .rights{
    margin-top: 50px;
    color: #FFFFFF;
    line-height: 25px;
    opacity: 0.5;
 }

.display-hide{
    display: none;
}


@media screen and (max-width:576px) {
    
}
 