@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    background-color: #412567;
}
/* shard design */
nav{
    max-width: 1600px;
}

.container{
    display: flex;
    
}
.text-color{
    color: #FFFFFF;
}
.btn{
    font-size: 1rem;
    font-weight: 600;
     background: linear-gradient(24deg, #F7E93F, #FB09B4, #9100F8);
    padding: 10px 18px;
    border-radius: 20px;
    cursor: pointer;

}

/* navbar design */
.navbar-container{
    justify-content:space-around;
    align-items: center;
}
.logo{
    font-size: 4rem;
    padding: 20px;
}
.wave{
    background: linear-gradient(90deg, #ff2db2, #8a2be2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar-menu{
    display: flex;
    gap: 32px;
    line-height: 120%;
    font-size: 1rem;
}